.button {
  padding: 10px;
  color: #FFFFFF;
  font-size: 16px;
  background-color: #624bff;
  border: 1px solid #624bff;
  border-radius: 5px;
}

.button:active, .button:focus {
  box-shadow: rgba(98, 75, 255, 0.25) 0px 0px 0px 4px;
}

.button:hover, .button:focus {
  background-color: #5340d9;
  border-color: #4e3ccc;
  cursor: pointer;
}
