.page {
  display: flex;
}

.videos-content {
  padding: 20px;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}

.videos-main {
  background-color: white;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

.text-center-upload {
  font-size: 18px;
  text-align: center;
}

.upload-container input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: #df464a;
  color: white;

  border-radius: 8px;
  padding: 8px 35px;

  cursor: pointer;

  display: flex;
  align-items: center;
}

.custom-file-upload svg {
  margin-right: 10px;
}

.files-preview {
  margin-top: 50px;
  width: 100%;
}

.videos-table {
  background-color: #f9fafb;
  width: 100%;
  border-collapse: collapse;
}

.videos-table thead {
  display: table-header-group;
  vertical-align: middle;
  border-bottom: 0.5px solid #d2d6dc;
}

.videos-table td, .videos-table th {
  padding: 15px;
  text-align: start;
  border-bottom: 0.5px solid #d2d6dc;
}

.videos-table th {
  color: #6b7280;
  font-weight: normal;
}

@media (max-width: 600px) {
  .videos-content {
    max-width: 100%;
  }
}
