.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
}

.side-header {
  background-color: #057A55;
}

.sidebar-title {
  display: flex;
  align-items: center;

  padding: 20px;
}

.sidebar-title img {
  width: 1.7rem;
  margin-right: 5px;
}

.sidebar-title p {
  font-size: 1.5rem;
  margin: 0;
  color: aliceblue;
}

.sidebar-nav {
  height: 100%;
  background-color: #252F3F;
}

.sidebar-line {
  display: flex;
  align-items: center;

  margin: 10px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;

  font-size: 1.1rem;
}

.sidebar-line:hover {
  font-size: 18px;
}

.sidebar-line svg {
  margin-right: 5px;
}

.sidebar-link {
  color: aliceblue;
  text-decoration: none;
}

.sidebar-link #active {
  background-color: #161E2E;
}

@media (max-width: 750px) {
  .sidebar-container {
    display: none;
  }
}
